<!--ANalytics Section-->
<section class="container-sm analytics">
  <div class="row align-items-center mx-auto">
    <div class="col-12 col-lg-6 text-center">
      <img
        src="./assets/analytics.png"
        class="img-fluid"
        alt="NFT Analytics"
        width="450"
      />
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <p class="analytics-text">ANALYTICS</p>
        <h2>Built-In Analytics To Track Your Nfts</h2>
        <p class="mt-lg-2 mt-md-2 mt-1">
          Use our built-in analytics dashboard to pull valuable insights and
          monitor the value of your Krypto portfolio over time.
        </p>
        <button
          type="button"
          class="btn btn-primary btn-custom-primary mt-lg-4 mt-2"
        >
          view our pricing
        </button>
      </div>
    </div>
  </div>
</section>
