<!--CARD COMPONENT-->
<div class="card card-custom">
  <div class="card-body">
    <img
      src="./assets/person1.png"
      class="img-fluid rounded-circle card-person-img"
      alt="Image of the person who gave testinomial one"
    />
    <h5 class="card-title person-name pt-4 text-center">OLIVIA COLE</h5>
    <p class="card-text text-center pt-3 text-uppercase">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper
      scelerisque mi, in malesuada felis malesuada vel.
    </p>
  </div>
</div>
