<!-- Hero Section -->
<section class="container-sm hero-section">
  <div class="row align-items-center text-center justify-content-md-center">
    <div class="col-lg-5 text-sm-center text-lg-start">
      <h1>Discover And Collect Rare NFTs</h1>
      <p class="pe-lg-3 mt-lg-3 my-4">
        The most secure marketplace for buying and selling unique crypto assets.
      </p>
      <div
        class="row justify-content-center justify-content-lg-start cta-btn-group"
      >
        <button
          type="button"
          class="btn btn-primary btn-custom-primary btn-custom-primary-hero mt-2 me-md-3 mt-lg-0 me-lg-0"
        >
          Buy NFTS
        </button>
        <button
          type="button"
          class="btn btn-outline-light btn-custom-primary btn-custom-primary-hero btn-hero-secondary ms-lg-3 mt-2 me-md-3 mt-lg-0 me-lg-0 ms-sm-2"
        >
          Sell NFTS
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="./assets/hero-img.png"
        alt="NTF Hero Image"
        class="img-fluid hero-img pb-lg-5"
        width="600"
      />
    </div>
  </div>
  <div class="ellipse"></div>
</section>
