<!-- Testamonial Section -->
<div class="container-sm my-5 my-5">
  <div class="row">
    <p class="pt-5 mb-2 text-center action-text">TESTIMONIALS</p>
    <h2 class="mb-5 text-center">
      Read What Others <br />
      Have To Say
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <!--CARD COMPONENT 1-->
      <div class="card card-custom">
        <div class="card-body">
          <img
            src="./assets/person1.png"
            class="img-fluid rounded-circle card-person-img"
            alt="Image of the person who gave testinomial one"
          />
          <h5 class="card-title person-name pt-4 text-center">OLIVIA COLE</h5>
          <p class="card-text text-center pt-3 text-uppercase">
            I was extremely impressed with the quality of NFTs and customer
            service on this website. The team was helpful and made the
            purchasing process a breeze. I now own a unique digital art piece
            that I will cherish forever. Thank you!
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <!--CARD COMPONENT 2-->
      <div class="card card-custom">
        <div class="card-body">
          <img
            src="./assets/person2.png"
            class="img-fluid rounded-circle card-person-img"
            alt="Image of the person who gave testinomial one"
          />
          <h5 class="card-title person-name pt-4 text-center">SAM ARTHUR</h5>
          <p class="card-text text-center pt-3 text-uppercase">
            I was extremely impressed with the quality of NFTs and customer
            service on this website. The team was helpful and made the
            purchasing process a breeze. I now own a unique digital art piece
            that I will cherish forever. Thank you!
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <!--CARD COMPONENT 3-->
      <div class="card card-custom">
        <div class="card-body">
          <img
            src="./assets/person3.png"
            class="img-fluid rounded-circle card-person-img"
            alt="Image of the person who gave testinomial one"
          />
          <h5 class="card-title person-name pt-4 text-center">BENNY WILLS</h5>
          <p class="card-text text-center pt-3 text-uppercase">
            I was extremely impressed with the quality of NFTs and customer
            service on this website. The team was helpful and made the
            purchasing process a breeze. I now own a unique digital art piece
            that I will cherish forever. Thank you!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
