@import url(./global.css);

.cta-section {
    margin-top: 6rem;
    height: 380px;
    border-radius: 35px;
    background: linear-gradient(277.69deg, #AAD9D9 -9.79%, #9090DC 100%, #7D7DDC 84.42%);
}

.action-text-card {
    color: var(--primary-color);
}

@media all and (min-width: 1024px) {
    .card-h2 {
        font-size: 4rem;
    }
}
