/* Styles for the hero section */
/* Mobile First Design */
@import url(./global.css);

.hero-section {
    position: relative;
}

.btn-hero-secondary {
    background-color: transparent;
    border-color: var(--accent-color);
}

.btn-hero-secondary:hover {
    background-color: transparent;
}

 /* Ellipse 1 */
.ellipse {
    position: absolute;
    left: 70%;
    width: 30%;
    height: 30%;
    /* left: calc(50% - 628px/2 + 600px); */
    top: 350px;
    background: rgba(170, 217, 217, 0.6);
    filter: blur(162px);
}

@media all and (min-width: 1024px) {
    .btn-custom-primary-hero {
        width: 11rem;
    }

    .cta-btn-group {
        margin-top: 4.4rem;
    }
}

/* SPECIAL QUERY */
@media all and (max-width: 778px) and (min-width: 400px) {
    .btn-custom-primary-hero {
        margin-right: 7px;

    }
    .btn-hero-secondary {
        margin-left: 7px;
        
    }
}
