@import url(./nav-bar.css);


.navbar {
    box-shadow: none;
}

.navbar-hue {
    position: absolute;
    width: 628px;
    height: 628px;
    left: calc(50% - 628px/2 - 250px);
    top: -520px;
    background: #9090DC;
    opacity: 0.5;
    filter: blur(162px);
}

.navbar-brand,.nav-link {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    color: var(--text-color);
}

.navbar .nav-link:hover {
    color: var(--text-color); /* Change the color of the links to green on hover */
  }

.nav-link {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 200;
}